* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

header#main-header {
    width: 1000px; height: 140px;
    background: green;
    text-align: left;
}

#main-header > div.main-image-holder {
    display:inline-block;
    width:100px;
    height:140px;
    background:whitesmoke;
}

nav{
    display:inline-block;
    width:894px;
    height:50px;
    vertical-align: bottom;
    background-color:cornflowerblue;
}


/* ----------------------------------------*/
nav > ul{
    width:894px;
    height:50px;;
    background:black;
    
}
ul > li{
    background:skyblue;
    display:inline-block;
    width:140px; height: 26px;
    padding: 12px 0;
    margin: 0 15px;
}

main#main{
    width: 1000px;
    height: 500px;
    background: beige;
}

